@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: right;
  width: 50%;
  position: relative;
  background-color: #5200ff;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  font-weight: 400;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

button,
input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.home {
  display: flex;
  height: 100vh;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: none;
  opacity: 0.22;
}

.le-text {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  color: #fff;
}

.le-text p {
  font-size: 1.7rem;
}

.le-sign-in {
  width: 50%;
  position: relative;
}

.le-text-in input {
  background: #ededed;
  margin-top: 1rem;
  width: 100%;
  height: 3.7rem;
  border-color: #c7c7c7;
}

.le-text-in {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
}
.le-text-in p.name {
  margin-top: 1rem;
}
.le-text-in p.email {
  margin-top: 3rem;
}
.le-text-in button {
  margin-top: 4rem;
  color: #fff;
  padding: 1rem 2.5rem;
  background-color: #5200ff;
  border: none;
}

.le-text-name {
  font-weight: 1.125rem;
}

@media (max-width: 1094px) {
  .home {
    flex-direction: column;
  }
  .container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .le-sign-in {
    width: 100%;
    height: 50%;
  }
  .le-text-in input {
    background: #ededed;
    margin-top: 0.7rem;
    width: 100%;
    height: 2.5rem;
    border-color: #c7c7c7;
  }
  .le-text h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    font-weight: 400;
  }
  .le-text p {
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
  }

  button,
  input {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .le-text-in p.name {
    margin-top: 0.5rem;
  }
  .le-text-in p.email {
    margin-top: 1.5rem;
  }
  .le-text-in button {
    margin-top: 2rem;
    color: #fff;
    padding: 0.7rem 1.5rem;
    background-color: #5200ff;
    border: none;
  }
}

@media (max-width: 858px) {
  .container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .le-sign-in {
    width: 100%;
    height: 50%;
  }
  .le-text-in input {
    background: #ededed;
    margin-top: 0.5rem;
    width: 100%;
    height: 2.3rem;
    border-color: #c7c7c7;
  }
  .le-text h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 3.4rem;
    font-weight: 400;
  }
  .le-text p {
    margin-top: 0.1rem;
    font-size: 0.7rem;
    font-weight: 500;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }

  button,
  input {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    margin-top: 1rem;
  }
  .le-text-in p.name {
    margin-top: 1.2rem;
  }
  .le-text-in p.email {
    margin-top: 1.3rem;
  }
  .le-text-in button {
    margin-top: 2rem;
    color: #fff;
    padding: 0.5rem 1.3rem;
    background-color: #5200ff;
    border: none;
  }
}
@media (max-width: 510px) {
  .container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .le-sign-in {
    width: 100%;
    height: 100%;
  }
  .le-text-in input {
    background: #ededed;
    margin-top: 0.1rem;
    width: 100%;
    height: 1.5rem;
    border-color: #c7c7c7;
  }
  .le-text h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 1.7rem;
    font-weight: 400;
  }
  .le-text p {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    font-weight: 500;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
  }

  button,
  input {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.5rem;
    margin-top: 1rem;
  }
  .le-text-in p.name {
    margin-top: 1rem;
  }
  .le-text-in p.email {
    margin-top: 1.3rem;
  }
  .le-text-in button {
    margin-top: 3rem;
    color: #fff;
    padding: 0.3rem 1rem;
    background-color: #5200ff;
    border: none;
  }
}
